---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import About from "../components/About.astro";
import Projects from "../components/Projects.astro";
import Contact from "../components/Contact.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="Tomás Sasovsky - Full-Stack Developer">
  <Header />
  <main>
    <Hero />
    <About />
    <Projects />
    <Contact />
  </main>
  <Footer />
</Layout>
