---
import { navItems } from "../data/nav";
---

<nav class="navbar">
  <ul class="navbar-list">
    {
      navItems
        .filter((n) => n.enabled !== false)
        .map((n) => (
          <li class="navbar-item">
            <button
              class="navbar-link"
              type="button"
              data-nav-link
              data-page={n.href === "/" ? "about" : n.href.replace("/", "")}
            >
              {n.label}
            </button>
          </li>
        ))
    }
    <li class="navbar-item">
      <button
        class="navbar-link theme-toggle"
        type="button"
        data-theme-toggle
        aria-label="Toggle theme"
      >
        <ion-icon class="icon-sun" name="sunny-outline"></ion-icon>
        <ion-icon class="icon-moon" name="moon-outline"></ion-icon>
      </button>
    </li>
  </ul>
</nav>
